.App{
  background: lightblue;
  border: 2px solid black;
  margin: 5%;
}

.header{
    display: flex;
    justify-content: center;
  }
  
  .body{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
  }

  h2{
    display: flex;
    justify-content: center; 
  }

  .todo-list{
    
    width: 80%;
   
  }
  
  .todo {
    background-color: white; 
    width: 80%;
    text-align: center;
    margin: 10px 0;
    padding: 1px;
    cursor: pointer;
  }

  .todopurchased  {
    background-color: red;
    width: 80%;
    text-align: center;
    margin: 10px 0;
    padding: 1px;
    text-decoration: line-through;
    
  }

  .clear-Btn{
    padding: 5px;
    margin: 10px;
  }